# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/.vs
**/x64
**/Debug
**/bin
**/obj
**/*.user
MFWebCamToFile/sample.mp4
MFMP4ToYUVWithMFT/rawframes.yuv
MFCaptureRawFramesToFile/rawframes.yuv
MFH264RoundTrip/rawframes.yuv
MFWebCamToFile/capture.mp4
MFWebCamToH264Buffer/sample.mp4
**/capture_postmft.bmp
**/capture_premft.bmp